[submodule "3rdparty/ncnn"]
	path = 3rdparty/ncnn
	url = git@github.com:tencent/ncnn
[submodule "3rdparty/opencv"]
	path = 3rdparty/opencv
	url = git@github.com:opencv/opencv
[submodule "3rdparty/lite.ai.toolkit"]
	path = 3rdparty/lite.ai.toolkit
	url = git@github.com:DefTruth/lite.ai.toolkit
[submodule "3rdparty/opencv_contrib"]
	path = 3rdparty/opencv_contrib
	url = git@github.com:opencv/opencv_contrib
